//defino variables, según lo entregado por el diseñador

/*colors scheme*/

//first colors scheme
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;

//seconde colors scheme
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;

//third colors scheme
$eerie-black: #121619;
$raisen-black: #222323;
$nickel: #6c6e70;

/*Font family*/
$roboto-regular: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;;

//Typography
/*Font weight*/
$font-black: 900;
$font-regular: 400;
$font-light: 300;

/*Font sizes*/
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

/*border*/
$line_borde:#707071;
$link_active:#dE8684;
$borde_pag: #ddd;
